body{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Assets/Images/bg-inv.jpg);
    background-position: center;
    background-size: contain;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}
.slides {
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;

}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 800px;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #1A91D2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.3s ease-in;
    margin-right: 20px;
}
.manual-btn:last-child{
    margin-right: 0;
}
.manual-btn:hover{
    background: #1A91D2;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}

/* Automation */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid #1A91D2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 20px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #444348;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #444348;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #444348;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #444348;
}

.next-btn {
    margin-top: 20px;
    position: absolute;
    bottom: 5%;
}
.next-btn button {
    background: #1A91D2;
    height: 50px;
    width: 200px;
    font-size: 1.2rem;
    color: #F7F7F7;
    border: 1px solid #444348;
    border-radius: 20px;
    font-weight: 800;
}
.next-btn button:hover{
    cursor: pointer;
    background: #006faa;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


button::after, button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #444348, #f7f7f7, #1a91d2, #444348); 
    /* dont put space between conic-gradient and bracket */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: .5px;
    border-radius: 20px;
    animation: 1s spin linear infinite;
}
button::before{
    filter: blur(1rem);
    opacity: 0.7;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }to {
        --angle:360deg;
    }
}